<div class="uk-form-row">
    <div class="uk-form-controls">
        <input
            name="phone_number"
            type="text"
            class="uk-width-1-1 uk-form-large"
            value="{{ user.primary_phone.phone_number }}"
            placeholder="Телефон" />
    </div>
</div>