{% set user = sessionComponent.user %}

<div class="uk-form-row">
    <div class="uk-form-controls">
        <input
            name="password_beauty"
            type="password"
            class="uk-width-1-1 uk-form-large"
            placeholder="Пароль" />
    </div>
</div>
<div class="uk-form-row">
    <div class="uk-form-controls">
        <input
            name="password_beauty_confirmation"
            type="password"
            class="uk-width-1-1 uk-form-large"
            placeholder="Подтвердите пароль" />
    </div>
</div>