<div class="uk-form-row">
    <div class="uk-form-controls">
        <input
            name="name"
            type="text"
            class="uk-width-1-1 uk-form-large"
            value="{{ user.name }}"
            placeholder="Имя" />
    </div>
</div>
<div class="uk-form-row">
    <div class="uk-form-controls">
        <input
            name="surname"
            type="text"
            class="uk-width-1-1 uk-form-large"
            value="{{ user.surname }}"
            placeholder="Фамилия" />
    </div>
</div>