==
<a class="uk-modal-close uk-close"></a>
<div class="uk-modal-header uk-margin-bottom">
    <h3 class="uk-text-center">
        <strong>Вход в личный кабинет</strong>
    </h3>
</div>
<form id="accountSigninForm" class="uk-form">
    <div class="uk-form-row">
        <input
            name="email"
            type="text"
            placeholder="Email"
            class="uk-form-large uk-width-1-1">
    </div>

    <div class="uk-form-row">
        <input
            name="password"
            type="password"
            placeholder="Пароль"
            class="uk-form-large uk-width-1-1">
    </div>

    <div class="uk-form-row">
        <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">
            Войти
        </button>
    </div>

    <p class="uk-text-center uk-margin-small">
        или
    </p>

    <div class="uk-form-row uk-margin-bottom">
        <a href="#!join" class="uk-button uk-button-large uk-width-1-1">
            Зарегистрироваться
        </a>
    </div>
</form>