<form id="registerBeautyForm" class="uk-form">
    <input name="role" type="hidden" value="beauty">

    {% partial 'account/form_personal-info.htm' %}

    {% partial 'account/form_email.htm' %}

    {% partial 'account/form_passwords_beauty.htm' %}

    <div class="uk-form-row uk-margin-top">
        <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">
            Создать профиль клиента
        </button>
    </div>
</form>