<form id="registerProForm" class="uk-form">
    <input name="role" type="hidden" value="pro">

    {% partial 'account/form_personal-info.htm' %}

    {% partial 'account/form_email.htm' %}

    {% partial 'account/form_passwords_pro.htm' %}

    <div class="uk-form-row uk-margin-top">
        <div class="uk-form-controls">
            <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">
                Создать профиль мастера
            </button>
        </div>
    </div>
</form>