title = "Регистрация"
url = "/api/v1/render/pages/account/register"
is_hidden = 0

[accountComponent]
==
function onStart()
{
    $this['role'] = $this->param('role');
}
==
{% set user = accountComponent.user() %}
{% set profile = user.profile %}

{% if not user %}

    <ul id="registerBackgrounds" class="background-container uk-switcher">
        <li
            class="background-cover"
            style="
                background-image: url({{ '/theme/backgrounds/003.jpg'|media }});
                background-attachment: fixed;
            "><div class="overlay-default fill"></div>
        </li>
        <li
            class="background-cover"
            style="
                background-image: url({{ '/theme/backgrounds/001.jpg'|media }});
                background-attachment: fixed;
            "><div class="overlay-default fill"></div>
        </li>
    </ul>

    <div class="uk-align-center uk-contrast uk-position-z-index" style="width: 310px; padding-top: 64px;">

        <ul class="uk-tab uk-tab-grid uk-margin-bottom"
            data-uk-tab="{
                connect: '#registerBackgrounds, #registerTabs', animation: 'fade',
                {% if role == 'pro' %} active: 1 {% else %} active: 0 {% endif %}
            }">

            <li class="uk-width-1-2" data-role="beauty" style="padding-left: 20px;">
                <a class="uk-h2" href="">
                    <strong>Я клиент</strong>
                </a>
            </li>

            <li class="uk-width-1-2" data-role="pro" style="padding-right: 20px;">
                <a class="uk-h2" href="#!">
                    <strong>Я мастер</strong>
                </a>
            </li>

        </ul>

        <ul id="registerTabs" class="uk-switcher uk-align-center uk-position-relative" style="padding: 0 20px;">
            <li>

                {% partial 'account/register_beauty.htm' %}

            </li>
            <li>

                {% partial 'account/register_pro.htm' %}

            </li>
        </ul>

    </div>

{% else %}

    {% if profile %}

        {% if profile.status == constant('STATUS_FRESH', profile) %}

            {%
                partial 'helpers/redirect.htm'
                message='Остались последние штрихи…'
                target='#!profile/complete'
            %}

        {% else %}

            {%
                partial 'helpers/redirect.htm'
                message='Создание профиля успешно завершено…'
                target='#!profile/' ~ user.alias
            %}

        {% endif %}

    {% else %}

        {%
            partial 'helpers/redirect.htm'
            message='Требуется создать профиль…'
            target='#!create'
        %}

    {% endif %}

{% endif %}