<div id="section-4" class="section-default incut-default">

    <div class="uk-container uk-container-center">
        <div class="uk-grid">

            <div class="uk-width-1-1 uk-margin-bottom">

                <p class="uk-text-large uk-text-center">
                    Хотите сначала посмотреть мастеров?
                </p>

            </div>

            <div class="uk-width-1-1">
                <div class="uk-width-medium-1-3 uk-align-center">

                    <a  href="#!community"
                        class="uk-button uk-button-large uk-width-1-1">
                        Да, покажите мне мастеров Cutesy
                    </a>

                </div>
            </div>

        </div>
    </div>
</div>