<div id="section-2" class="section-default incut-default">

    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-margin-large-top uk-margin-large-bottom">

            <div class="uk-width-small-1-1 uk-width-medium-1-3">
                <div class="uk-width-9-10 uk-align-center uk-text-center">
                    <h2>
                        <strong>Проверенные мастера</strong>
                    </h2>
                    <p class="uk-text-large">
                        Существует лишь 2 способа стать мастером Cutesy: попасть сюда по рекомендации или пройти отбор, показав себя в деле.
                    </p>
                </div>
            </div>

            <div class="uk-width-small-1-1 uk-width-medium-1-3 uk-text-center">
                <div class="uk-width-9-10 uk-align-center uk-text-center">
                    <h2>
                        <strong>Простой поиск</strong>
                    </h2>
                    <p class="uk-text-large">
                        Чтобы найти мастера, вам нужно задать всего 2 параметра: во-первых, выбрать услугу, а во-вторых, определить сумму, которую вы готовы потратить.
                    </p>
                </div>
            </div>

            <div class="uk-width-small-1-1 uk-width-medium-1-3 uk-text-center">
                <div class="uk-width-9-10 uk-align-center uk-text-center">
                    <h2>
                        <strong>Портфолио и отзывы</strong>
                    </h2>
                    <p class="uk-text-large">
                        Смотрите портфолио и выбирайте мастеров, основываясь на отзывах других клиентов (а не на своём неудачном опыте).
                    </p>
                </div>
            </div>

        </div>
    </div>

</div>