<div id="section-3" class="section-default fill" style="background-image: url({{ '/theme/backgrounds/002.jpg'|media }});">

    <div class="overlay-default fill uk-vertical-align">
        <div class="uk-width-1-1    uk-vertical-align-middle">
            <div class="uk-container uk-container-center">

                <div class="uk-grid">

                    <div class="uk-width-1-1 uk-margin">

                        <!-- desktop header -->
                        <h2 class="uk-h1 uk-contrast uk-text-center">
                            <strong>
                                Станьте клиентом Cutesy и получите<br>
                                в подарок мейкап или укладку
                            </strong>
                        </h2>

                    </div>

                    <div class="uk-width-1-1 uk-margin">
                        <div class="uk-width-1-5 uk-align-center">

                            <a href="#!join/beauty"
                                class="uk-button uk-button-large uk-button-primary uk-width-1-1">
                                Создать профиль
                            </a>

                        </div>
                    </div>

                    <div class="uk-width-1-1 uk-margin">

                        <p class="uk-text-center uk-text-large uk-contrast">
                            Вы - классный парикмахер или визажист? <a href="#!join/pro">Создайте профиль мастера</a>
                        </p>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>