<div id="section-1" class="section-default fill" style="background-image: url({{ '/theme/backgrounds/003.jpg'|media }});">

    <div class="overlay-default fill uk-vertical-align">
        <div class="uk-width-1-1 uk-vertical-align-middle">
            <div class="uk-container uk-container-center">

                <div class="uk-grid">

                    <div class="uk-width-1-1 uk-margin">

                        <h1 class="uk-heading-large uk-contrast uk-text-center">
                            <strong>
                                Найдите мастера, в чьи руки можно <br>
                                отдаться со спокойной душой
                            </strong>
                        </h1>

                    </div>

                    <div class="uk-width-1-1 uk-margin">

                        <h3 class="uk-contrast uk-text-center">
                            Десятки отобранных вручную портфолио ждут вас на Cutesy
                        </h3>

                    </div>

                    <div class="uk-width-1-1 uk-margin">
                        <div class="uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-5 uk-align-center">

                            <a  href="#!community"
                                class="uk-button uk-button-large uk-button-primary uk-width-1-1 uk-margin-small-bottom">
                                Найти мастера
                            </a>

                            <a  href="#!section-2" data-page-scroll
                                class="uk-button uk-button-large uk-width-1-1">
                                Как это работает
                            </a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>