<div id="section-1" class="section-default fill" style="background-image: url({{ '/theme/backgrounds/001.jpg'|media }});">

    <div class="overlay-default fill uk-vertical-align">
        <div class="uk-width-1-1 uk-vertical-align-middle">
            <div class="uk-container uk-container-center">

                <div class="uk-grid">

                    <div class="uk-width-1-1 uk-margin">

                        <h1 class="uk-heading-large uk-contrast uk-text-center">
                            <strong>
                                Зарабатывайте сколько хотите, занимаясь любимым делом
                            </strong>
                        </h1>

                    </div>

                    <div class="uk-width-1-1 uk-margin">

                        <h3 class="uk-contrast uk-text-center">
                            На Cutesy cотни клиентов хотят выглядеть модно и готовы платить за это любые деньги
                        </h3>

                    </div>

                    <div class="uk-width-1-1 uk-margin">
                        <div class="uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-5 uk-align-center">

                            <a href="#!join/pro"
                                class="uk-button uk-button-large uk-button-primary uk-width-1-1">
                                Создать профиль
                            </a>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>