<div id="section-2" class="section-default incut-default">
    <div class="uk-container uk-container-center">

        <div class="uk-grid">

            <div class="uk-width-1-3">
                <div class="uk-width-9-10 uk-align-center uk-text-center">
                    <h2>
                        <strong>Здесь сидит классная целевая аудитория</strong>
                    </h2>
                    <p class="uk-text-large">
                        Вы показываете своё портфолио там, где его хотят видеть те, кто готов платить за то, что вы умеете и любите делать.
                    </p>
                </div>
            </div>

            <div class="uk-width-1-3 uk-text-center">
                <div class="uk-width-9-10 uk-align-center uk-text-center">
                    <h2>
                        <strong>Ваше предложение формирует спрос</strong>
                    </h2>
                    <p class="uk-text-large">
                        Покажите, на что вы способны, и станьте мастером, к которому едут из другого конца города с удовольствием.
                    </p>
                </div>
            </div>

            <div class="uk-width-1-3 uk-text-center">
                <div class="uk-width-9-10 uk-align-center uk-text-center">
                    <h2>
                        <strong>Реализуйте свои амбиции и самые смелые мечты</strong>
                    </h2>
                    <p class="uk-text-large">
                        Участвуйте в конкурсах и выигрывайте гранты и спонсорские предложения от любимых брендов.
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>