<div id="section-4" class="section-default incut-default">
    <div class="uk-container uk-container-center">

        <div class="uk-grid">

            <div class="uk-width-1-3">
                <div class="uk-width-9-10 uk-align-center uk-text-center">
                    <strong class="uk-heading-large">1</strong>
                    <h2>
                        <strong>Покажите работы, которыми гордитесь</strong>
                    </h2>
                    <p class="uk-text-large">
                        Портфолио — ваша визитная карточка. Добавьте в него свежие работы, которые говорят сами за себя и за вас.
                    </p>
                </div>
            </div>

            <div class="uk-width-1-3 uk-text-center">
                <div class="uk-width-9-10 uk-align-center uk-text-center">
                    <strong class="uk-heading-large">2</strong>
                    <h2>
                        <strong>Получите приглашение на Cutesy</strong>
                    </h2>
                    <p class="uk-text-large">
                        И вслед за ним сообщения и лайки клиентов, приглашения на съёмки, мастер-классы и вечеринки.
                    </p>
                </div>
            </div>

            <div class="uk-width-1-3 uk-text-center">
                <div class="uk-width-9-10 uk-align-center uk-text-center">
                    <strong class="uk-heading-large">3</strong>
                    <h2>
                        <strong>Делитесь опытом и делайте себе имя</strong>
                    </h2>
                    <p class="uk-text-large">
                        Общайтесь с другими мастерами, отвечайте на вопросы клиентов и станьте признанным экспертом.
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>