<div id="section-3" class="section-default fill" style="background-image: url({{ '/theme/backgrounds/005.jpg'|media }});">

    <div class="overlay-default fill uk-vertical-align">
        <div class="uk-width-1-1 uk-vertical-align-middle">
            <div class="uk-container uk-container-center">

                <div class="uk-width-1-1">
                    <h2 class="uk-contrast uk-width-3-5 uk-align-center">
                        Создайте онлайн портфолио на <strong>Cutesy</strong> и начните новый этап профессиональной жизни.
                    </h2>
                </div>

            </div>
        </div>
    </div>

</div>