<div class="section-fullscreen fixed-background" style="background-image: url({{ '/theme/backgrounds/003.jpg'|media }});">
    <div class="section-wrapper overlay-default">
        <div class="section-content middle">

            <div class="uk-container uk-container-center">
                <div class="uk-grid">

                    <div class="uk-width-1-1 uk-margin">
                        <h2 class="uk-heading-large uk-contrast uk-text-center">
                            <strong>
                                Найдите мастера, в чьи руки можно <br> отдаться со спокойной душой
                            </strong>
                        </h2>
                    </div>

                    <div class="community-search-panel uk-margin uk-align-center"></div>

                    <div class="uk-width-1-1 uk-margin">
                        <h3 class="uk-contrast uk-text-center">
                            Десятки отобранных вручную портфолио ждут вас на Cutesy
                        </h3>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>