<div
    class="uploader-fileupload style-image-multi is-sortable is-multi {{ __SELF__.isPopulated() ? 'is-populated' }}"
    data-control="fileupload"
    data-template="#uploaderTemplate{{ __SELF__ }}"
    data-unique-id="{{ __SELF__ }}"
    {% if __SELF__.fileTypes %}data-file-types="{{ __SELF__.fileTypes }}"{% endif %}
>

    <!-- Field placeholder -->
    <input type="hidden" name="_uploader[{{ __SELF__.attribute }}]" value="" />

    <!-- Existing files -->
    <div class="upload-files-container uk-grid uk-grid-large">
        <!-- Upload Button -->
        <div class="uk-width-1-4 uk-margin-xlarge-bottom">
            <div class="upload-button uk-placeholder uk-width-1-1" style="cursor: pointer; cursor: hand;">
                <p>{{ __SELF__.placeholderText }}</p>
            </div>
        </div>

        {% for file in __SELF__.fileList %}

        <div class="upload-object is-success uk-width-1-4 uk-margin-xlarge-bottom" data-id="{{ file.id }}" data-path="{{ file.getPath }}">
            <div class="">
                <figure class="uk-overlay uk-overlay-hover" style="overflow: visible;">
                    <div class="icon-container image uk-cover-background" style="overflow: hidden;">
                        <img src="{{ file.getThumb(108, 108, {'mode': 'crop'}) }}" alt="" />
                    </div>
                    <figcaption class="overlay-beauty uk-overlay-panel">
                        <a
                            href="javascript:;"
                            class="upload-remove-button uk-close uk-close-alt"
                            data-request="{{ __SELF__ ~ '::onRemoveAttachment' }}"
                            data-request-confirm="Вы уверены?"
                            data-request-data="file_id: {{ file.id }}"
                            style="
                                background-color: red;
                                position: absolute; top: -8px; right: -8px;
                            "></a>
                    </figcaption>
                </figure>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

<!-- Template for new files -->
<script type="text/template" id="uploaderTemplate{{ __SELF__ }}">
    <div class="upload-object uk-width-1-4 uk-margin-xlarge-bottom">
        <div class="dz-preview dz-file-preview">
            <figure class="uk-overlay uk-overlay-hover" style="overflow: visible;">
                <div class="icon-container image uk-cover-background" style="overflow: hidden;">
                    <img data-dz-thumbnail />
                </div>
                <figcaption class="overlay-beauty uk-overlay-panel">
                    <a
                        href="javascript:;"
                        class="upload-remove-button uk-close uk-close-alt"
                        data-request="{{ __SELF__ ~ '::onRemoveAttachment' }}"
                        data-request-confirm="Вы уверены?"
                        data-request-data="file_id: {{ file.id }}"
                        style="
                            background-color: red;
                            position: absolute; top: -8px; right: -8px;
                        "></a>
                </figcaption>
            </figure>
            <div class="meta">
                <div class="progress-bar"><span class="upload-progress" data-dz-uploadprogress></span></div>
            </div>
        </div>
    </div>
</script>