{% set file = __SELF__.singleFile %}

<div
    class="uploader-fileupload style-image-single uk-text-center"
    data-control="fileupload"
    data-template="#uploaderTemplate{{ __SELF__ }}"
    data-unique-id="{{ __SELF__ }}"
    data-thumbnail-width="{{ __SELF__.imageWidth ?: '132' }}"
    data-thumbnail-height="{{ __SELF__.imageHeight ?: '132' }}"
    {% if __SELF__.fileTypes %}data-file-types="{{ __SELF__.fileTypes }}"{% endif %}
>

    <!-- Field placeholder -->
    <input type="hidden" name="_uploader[{{ __SELF__.attribute }}]" value="" />

    <!-- Existing file -->
    <div class="upload-files-container">
        {% if file %}

        <div class="upload-object is-success" data-id="{{ file.id }}" data-path="{{ file.pathUrl }}">
            <div class="icon-container image circled uk-align-center">
                <img
                    src="{{ file.getThumb(132, 132, {'mode': 'crop'}) }}"
                    width="132" height="132" alt="">
            </div>
        </div>

        {% else %}

        <div class="uk-margin-bottom">
            <i class="cutesy-icon-profile" style="font-size: 132px; opacity: .5;"></i>
        </div>

        {% endif %}
    </div>

    <!-- Add New Image -->
    <a
        href="javascript:;"
        class="upload-button uk-button">
        Сменить аватар
    </a>
</div>

<!-- Template for new file -->
<script type="text/template" id="uploaderTemplate{{ __SELF__ }}">
    <div class="upload-object">
        <div class="icon-container image circled uk-align-center">
            <img data-dz-thumbnail width="132" height="132" alt="">
        </div>
    </div>
</script>
