@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?35279648');
  src: url('../font/fontello.eot?35279648#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?35279648') format('woff2'),
       url('../font/fontello.woff?35279648') format('woff'),
       url('../font/fontello.ttf?35279648') format('truetype'),
       url('../font/fontello.svg?35279648#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?35279648#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-add:before { content: '\e800'; } /* '' */
.icon-taxi:before { content: '\e801'; } /* '' */
.icon-share:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-scissors:before { content: '\e804'; } /* '' */
.icon-rating:before { content: '\e805'; } /* '' */
.icon-pulldown:before { content: '\e806'; } /* '' */
.icon-profile:before { content: '\e807'; } /* '' */
.icon-arrowleft:before { content: '\e808'; } /* '' */
.icon-place:before { content: '\e809'; } /* '' */
.icon-mascara:before { content: '\e80a'; } /* '' */
.icon-mark:before { content: '\e80b'; } /* '' */
.icon-likeforteaser:before { content: '\e80c'; } /* '' */
.icon-like:before { content: '\e80d'; } /* '' */
.icon-hair:before { content: '\e80e'; } /* '' */
.icon-esc:before { content: '\e80f'; } /* '' */
.icon-close:before { content: '\e810'; } /* '' */
.icon-chart:before { content: '\e811'; } /* '' */
.icon-call:before { content: '\e812'; } /* '' */
.icon-arrowright:before { content: '\e813'; } /* '' */