==
<nav class="uk-navbar uk-clearfix">
    <a class="cutesy-logo uk-float-left uk-position-z-index" href="{{ '#'|app }}"></a>

    <div class="uk-navbar-flip">
        <div class="user-menu uk-float-left">
        </div>
        <div class="community-nav uk-float-right">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#!community">
                        <span class="uk-icon-justify uk-icon uk-icon-search"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {#
    {% if session.backendUser %}
    <div class="" style="position: fixed; right: 0; line-height: 30px;">
        <a href="{{ 'backend'|app }}" class="uk-button" target="blank">
            <span class="uk-icon uk-icon-small uk-icon-wrench"></span>
        </a>
    </div>
    {% endif%}
    #}
</nav>