{% set user = sessionComponent.user() %}

{% if user %}

    {% if user.profile %} {% set profile = user.profile %} {% endif %}

    <ul class="uk-navbar-nav">
        <li class="uk-parent"
            data-uk-dropdown="{mode:'click'}"
            aria-haspopup="true"
            aria-expanded="false">
                <a href="javascript:;">
                    {{ user.name }} {{ user.surname }}
                    <span class="
                        uk-icon-justify
                        uk-icon-small
                        uk-icon-angle-down">
                    </span>
                </a>
            <div class="uk-dropdown uk-dropdown-navbar" style="">
                <ul class="uk-nav uk-nav-navbar">
                    <li>
                        <a href="#!bookmarks">Избранное</a>
                    </li>
                    <li>
                        {% if profile %}
                            {% if profile.status == constant('STATUS_FRESH', profile) %}
                                <a href="#!profile/complete">
                            {% else %}
                                <a href="#!profile/update">
                            {% endif %}
                        {% else %}
                            <a href="#!profile/create'">
                        {% endif %}
                            Настройки
                            </a>
                    </li>
                    <li>
                    {% if profile %}
                        <a href="{{ '#!community/' ~ user.alias }}">
                    {% else %}
                        <a href="#!profile/create'">
                    {% endif %}
                            Профиль
                        </a>
                    </li>
                    <li>
                        <a data-request="sessionComponent::onLogout">
                            Выход
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </a>
{% else %}
    <li>
        <a href="#signinModal" data-uk-modal>Войти</a>
    </li>
    <li>
        <a href="#!join">Регистрация</a>
    </li>
{% endif %}