<div class="uk-grid" data-uk-grid>

    {% for profile in profiles %}

        {% set lastPhoto = profile.photos|last %}

        <div class="search-results-item" data-alias="{{ profile.user.alias }}">
            <a href="#!community/{{ profile.user.alias }}">

                <div class="item-photo">
                    <img src="{{ lastPhoto.getThumb(285, null, {'mode': 'portrait'}) }}" width="285" height="auto">
                </div>

                {% if (profile.services is not empty) %}

                    <div class="item-service-list uk-contrast uk-vertical-align">

                        {% for service in profile.services if service.id != '4'  %}

                            <i class="{{ service.icon_class }} uk-icon-small uk-vertical-align-middle"></i>

                            <div class="uk-vertical-align-middle uk-text-small">
                                &nbsp;&gt;&nbsp;{{ service.pivot.min_price }}&#x20bd;
                            </div>

                        {% endfor %}

                    </div>

                {% endif %}

                <div class="uk-panel-box" style="padding: 16px 12px;">
                    <div class="uk-width-1-1 uk-clearfix">
                        <div class="uk-align-left" style="width: 70px; margin-right: 12px; margin-bottom: 8px;">
                            {% if profile.portrait %}

                                <img class="uk-border-circle"
                                    src="{{ profile.portrait.getThumb(70, 70, {'mode': 'crop'}) }}"
                                    width="70" height="70" alt="" style="width: 70px; height: 70px;">

                            {% else %}

                                <i class="cutesy-icon-profile" style="font-size: 70px; opacity: .5;"></i>

                            {% endif %}
                        </div>
                        <h3 style="margin-top: 4px; margin-bottom: 0;">
                            <strong>
                                {{ profile.user.name }}
                                <br>
                                {{ profile.user.surname }}
                            </strong>
                        </h3>
                        <span>{{ profile.profession.name }}</span>
                    </div>
                </div>
            </a>
        </div>

    {% endfor %}

</div>