==
{% for service in communityComponent.loadServices %}

    <input
        id="{{ service.code }}"
        class="uk-margin-small-top uk-float-right"
        type="checkbox"
        name="services[]"
        value="{{ service.id }}"
        {% if service.id in terms.services %} checked {% endif %}>

    <label for="{{ service.code }}">
        <i class="{{ service.icon_class }}"></i>
    </label>

{% endfor %}