==
<form id="searchPanelForm" class="uk-form">
    <input type="text" name="offset" value="0" class="uk-hidden">

    {% partial 'community/search_panel_services' terms = terms %}

    <input
        class="price"
        name="min_price"
        type="text"
        placeholder="от"
        value="{{ terms.min_price }}">

    <strong>&mdash;</strong>

    <input
        class="price"
        name="max_price"
        type="text"
        placeholder="до"
        value="{{ terms.max_price }}">

    <span class="uk-text-large uk-margin-large-right">₽</span>

    {#
    <input
        name="last_name"
        type="text"
        placeholder="Фамилия">
    #}

    <button type="submit" class="submit uk-button">Найти</button>
</form>






















{#
    <input
        id="1"
        class="uk-margin-small-top uk-float-right"
        type="checkbox"
        name="services[]">

    <label for="1">
        <i class="cutesy-icon-scissors"></i>
    </label>

    <input
        id="2"
        class="uk-margin-small-top uk-float-right"
        type="checkbox"
        name="services[]">

    <label for="2">
        <i class="cutesy-icon-mascara"></i>
    </label>

    <input
        id="3"
        class="uk-margin-small-top uk-float-right"
        type="checkbox"
        name="services[]">

    <label for="3">
        <i class="cutesy-icon-hair"></i>
    </label>
#}