.cutesy-community {
    &.search {
        .scrollable();
    }
}

.community-search-map() {
    position: relative;
    height: 400px;

    &.default {}
    &.collapsed {
        height:80px !important;
    }

    .search-map-container {
        .fill();
    }
}

.community-search-panel() {
    background-color: @global-brand-color;
    color: #000;
    height: 50px;
    min-width: 850px;

    &.fixed {
        position: fixed;
        top: 30px;
        width: 100%;
        z-index: 500;
    }

    .search-panel-container {
        width: 100%;
        padding-top: 5px;
        text-align: center;

        form {
            input.price {
                width: 100px;
            }

            input[type="checkbox"] {
                display:none;
            }

            input[type="checkbox"] + label {
                background: rgba(255, 255, 255, 0);
                height: 40px;
                width: 40px;
                line-height: 44px;
                display: inline-block;
                vertical-align: middle;
                border: 1px solid;
                border-color: rgba(0, 0, 0, 0.25);
                border-radius: 50%;
                margin-right: 30px;

                i {
                    font-size: 28px;
                    color: rgba(0, 0, 0, 0.25);
                }
            }

            input[type="checkbox"]:checked + label {
                background: #FFF;
                border-radius: 50%;
                border-color: rgba(255, 255, 255, 1);

                i {
                    color: rgba(0, 0, 0, .8);
                }
            }

            button.submit {
                width: 120px;
            }
        }
    }
}

.community-search-results() {
    position: relative;
    margin: 30px 0;

    .search-results-title {

    }

    .search-results-list {
        padding: 0 40px;

        .search-results-item {
            width: 285px;
            margin-bottom: 30px;
            font-size: 12px;
            a {
                text-decoration: none;
            }
            .item-photo {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0; left: 0;
                    .fill();
                }
            }
            .item-service-list {
                background-color: @global-brand-color;
                color: #fff;
                height: 40px;
                padding: 0 10px;
                .uk-icon-small {
                    color: #444;
                }
                div {
                    font-size: 13px;
                    margin-right: 10px;
                }
            }
            &:hover {
                .item-photo {
                    &:before {
                        background-color: fade(darken(@global-primary-background, 10%), 60%);
                    }
                }
            }
        }
    }
    .search-results-scrollspy {

    }
}

.community-search-map {
    .community-search-map();
}

.community-search-panel {
    .community-search-panel();

    &.default {}
    &.tablet {}
    &.mobile {}
}

.community-search-results {
    .community-search-results();

    &.default {}
    &.tablet {}
    &.mobile {}
}