.cutesy-intro {
    .fill();
}

.section-fullscreen {
    .fill();

    &.fixed-background {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .section-wrapper {
        .fill();
        .vertical-align();

        .section-content {
            display: inline-block;
            width: 100%;
            font-size: 1rem;

            &.top {
                vertical-align: top;
            }
            &.middle {
                vertical-align: middle;
            }
            &.bottom {
                vertical-align: bottom;
            }
        }
    }
}