html,
body {
    height: 100%;
    min-width: @utility-container-max-width;
}

html {
    overflow-y: hidden;
    //overflow-x: hidden;
}

// App Regions

.layout-header {
    width: 100%;
    //min-width: @utility-container-max-width;
    height: 30px;
    position:fixed;
    top: 0;
    z-index: @global-z-index;

    .cutesy-logo {
        background-image: url('../images/cutesy-logo.png');
        background-position: center center;
        background-repeat: no-repeat;
        height: 30px;
        width: 77px;
    }
}

.layout-content {
    position: absolute;
    top: 30px; left: 0; bottom: 0; right: 0;
    width:100%;
    min-width: @utility-container-max-width;
    overflow-y: hidden;
}

// Custom states

.dialog-default() {
    overflow-y: hidden;
    min-width: @utility-container-max-width;
    .fill();

    .background-container {
        position: absolute;
        .fill();

        .background-cover {
            background-size: cover;
            .fill();
        }
    }
}

.overlay-default() {
    background-color: fade(#000, 60%);

    &.hover {
        background-color: @global-color;
        &:hover {
            background-color: fade(@global-color, 60%);
        }

    }
}

.overlay-beauty() {
    background-color: fade(darken(@global-primary-background, 10%), 60%);

    &.hover {
        background-color: @global-primary-background;
        &:hover { background-color: fade(darken(@global-primary-background, 10%), 60%); }
    }
}

.overlay-pro() {
    background-color: fade(#000, 60%);

    &.hover {
        background-color: @global-color;
        &:hover { background-color: fade(@global-color, 60%); }
    }
}

.overlay-default {
    .overlay-default();
}

.overlay-beauty {
    .overlay-beauty();
}

.overlay-pro {
    .overlay-pro();
}

.hover {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}