.cutesy-profile {
    &.complete,
    &.update,
    &.show {
        .scrollable();

        .profile-container {
            .profile-social-toolbar {
                i {
                    color: @global-brand-color;

                    &:hover,
                    &:focus {
                        color: @global-color;
                        cursor: pointer;
                    }
                }
            }
            .profile-location-container {
                height: 335px;
            }
        }
    }

    &.complete,
    &.update {
        .profile-container {
            margin-top: @global-margin-large;
            margin-bottom: @global-margin-large;
        }
    }

    &.show {
        .profile-container {
            margin-top: @global-margin-xlarge;
            margin-bottom: @global-margin-xlarge;
        }
    }

    &.create {
        .dialog-default();
    }
}