// Utils

.fill() {
    height:100%; width: 100%;
}

.fill {
    .fill ();
}

.scrollable() {
    position: relative;
    overflow-y: scroll;
    .fill ();
}

.scrollable {
    .scrollable ();
}

.vertical-align() {
    font-size: 0.001px;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}

.vertical-align {
    .vertical-align();
}

.progress() {
    background-color: fade(#fff, 95%);
    position: absolute;
    top: 0; left: 0;
    z-index: 250;
    text-align: center;
    .fill();
    .vertical-align();

    .message {
        display: inline-block;
        width: 100%;
        font-size: 1rem;

        h3 {
            color: darken(@global-brand-color, 25%);
        }

        &.top {
            vertical-align: top;
        }
        &.middle {
            vertical-align: middle;
        }
        &.bottom {
            vertical-align: bottom;
        }


    }
}

.progress {
    .progress();
}