//
// Component: Alert
//
// ========================================================================


// Variables
// ========================================================================

@alert-margin-vertical:                         0;
@alert-padding:                                 10px;

@alert-background:                              fade(@global-primary-background, 30%);
@alert-color:                                   @global-color;

@alert-success-background:                      @global-success-background;
@alert-success-color:                           @global-success-color;

@alert-warning-background:                      @global-warning-background;
@alert-warning-color:                           @global-warning-color;

@alert-danger-background:                       @global-danger-background;
@alert-danger-color:                            @global-danger-color;

@alert-large-padding:                           20px;



// Component
// ========================================================================

.hook-alert() {}


// Modifier: `uk-alert-success`
// ========================================================================

.hook-alert-success() {}


// Modifier: `uk-alert-warning`
// ========================================================================

.hook-alert-warning() {}


// Modifier: `uk-alert-danger`
// ========================================================================

.hook-alert-danger() {}


// Miscellaneous
// ========================================================================

.hook-alert-misc() {}