//
// Component: Base
//
// ========================================================================


// Variables
// ========================================================================

@base-body-background:                          @global-background;
@base-body-font-family:                         'FreeSet Cyrillic', Arial, sans-serif;
@base-body-font-weight:                         normal;
@base-body-font-size:                           @global-font-size;
@base-body-line-height:                         @global-line-height;
@base-body-color:                               @global-color;

@base-link-color:                               @global-link-color;
@base-link-hover-color:                         @global-link-hover-color;
@base-ins-color:                                @global-color;
@base-mark-color:                               @global-color;

@base-margin-vertical:                          @global-margin;

@base-heading-font-family:                      'FreeSet Cyrillic', Arial, sans-serif;
@base-heading-color:                            @global-color;
@base-heading-margin-top:                       @global-margin-large;
@base-h1-font-size:                             round((@global-font-size * 2.6));
@base-h1-line-height:                           round((@base-h1-font-size * 1.154));
@base-h2-font-size:                             round((@global-font-size * 1.74));
@base-h2-line-height:                           round((@base-h2-font-size * 1.27));
@base-h3-font-size:                             round((@global-font-size * 1.28));
@base-h3-line-height:                           round((@base-h3-font-size * 1.32));
@base-h4-font-size:                             round((@global-font-size * 1.14));
@base-h4-line-height:                           round((@base-h4-font-size * 1.36));
@base-h5-font-size:                             @global-font-size;
@base-h5-line-height:                           @global-line-height;
@base-h6-font-size:                             round((@global-font-size * 0.85));
@base-h6-line-height:                           round((@base-h6-font-size * 1.46));

@base-hr-border:                                @global-border;

@base-blockquote-border:                        @global-border;
@base-blockquote-font-size:                     round((@global-font-size * 1.14)); // 16px / 18px
@base-blockquote-line-height:                   round((@base-blockquote-font-size * 1.36)); // 22px / 24px

@base-code-font-size:                           round((@global-font-size * 0.85)); // 12px / 14px

@base-pre-color:                                @global-color;
@base-pre-font-size:                            round((@global-font-size * 0.85)); // 12px / 14px
@base-pre-line-height:                          round((@base-pre-font-size * 1.46)); // 18px / 20px

// Body
// ========================================================================

.hook-base-body() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //text-shadow: 1px 1px 1px rgba(0,0,0,0.004) !important;
}


// Links
// ========================================================================

.hook-base-link() {}

.hook-base-link-hover() {}


// Text-level semantics
// ========================================================================

.hook-base-code() {}


// Headings
// ========================================================================

.hook-base-h() {}

.hook-base-h1() {}

.hook-base-h2() {}

.hook-base-h3() {}

.hook-base-h4() {}

.hook-base-h5() {}

.hook-base-h6() {}


// Horizontal rules
// ========================================================================

.hook-base-hr() {}


// Blockquotes
// ========================================================================

.hook-base-blockquote() {}


// Preformatted text
// ========================================================================

.hook-base-pre() {}


// Miscellaneous
// ========================================================================

.hook-base-misc() {
    b,
    strong {
        font-family: 'FreeSet Bold Cyrillic', Arial, sans-serif;
    }
}
