//
// Component: Button
//
// ========================================================================


// Variables
// ========================================================================

@button-height:                                 @global-height;
@button-mini-height:                            @global-height-mini;
@button-small-height:                           @global-height-small;
@button-large-height:                           @global-height-large;

@button-line-height:                            @global-height;
@button-mini-line-height:                       @global-height-mini;
@button-small-line-height:                      @global-height-small;
@button-large-line-height:                      @global-height-large;

@button-mini-font-size:                         round((@global-font-size * 0.78)); // 11px / 12px
@button-small-font-size:                        round((@global-font-size * 0.85)); // 12px / 14px
@button-large-font-size:                        round((@global-font-size * 1.14)); // 16px / 18px

@button-font-size:                              1rem;

@button-background:                             transparent;
@button-color:                                  darken(@global-brand-color, 12.5%);
@button-hover-background:                       transparent;
@button-hover-color:                            @global-brand-color;
@button-active-background:                      transparent;
@button-active-color:                           darken(@global-brand-color, 15%);

@button-primary-background:                     @global-primary-background;
@button-primary-color:                          fade(#000, 80%);
@button-primary-hover-background:               lighten(@global-primary-background, 5%);
@button-primary-hover-color:                    fade(#000, 80%);
@button-primary-active-background:              darken(@global-primary-background, 5%);
@button-primary-active-color:                   fade(#000, 80%);

@button-success-background:                     @global-success-background;
@button-success-color:                          @global-contrast-color;
@button-success-hover-color:                    @global-contrast-color;
@button-success-active-color:                   @global-contrast-color;

@button-danger-background:                      @global-danger-background;
@button-danger-color:                           @global-contrast-color;
@button-danger-hover-color:                     @global-contrast-color;
@button-danger-active-color:                    @global-contrast-color;

@button-disabled-background:                    fade(@global-gray-color, 20%);
@button-disabled-color:                         @global-muted-color;

@button-link-color:                             @global-link-color;
@button-link-hover-color:                       @global-link-hover-color;
@button-link-disabled-color:                    @global-muted-color;


// Component
// ========================================================================

.hook-button() {
    color: @global-color;
    border-radius: @global-border-radius;
    box-shadow: inset 0 0 0 1px @button-color;
}

.hook-button-hover() {
    color: lighten(@global-color, 10%);
    box-shadow: inset 0 0 0 1px @button-hover-color;
}

.hook-button-active() {
    color: darken(@global-color, 10%);
    box-shadow: inset 0 0 0 1px @button-active-color;
}


// Color modifiers
// ========================================================================

//
// Modifier: `uk-button-primary`
//

.hook-button-primary() {
    box-shadow: none;
}

.hook-button-primary-hover() {
    box-shadow: none;
}
.hook-button-primary-active() {
    box-shadow: none;
}

//
// Modifier: `uk-button-success`
//

.hook-button-success() {
    box-shadow: none;
}

.hook-button-success-hover() {
    box-shadow: none;
}
.hook-button-success-active() {
    box-shadow: none;
}

//
// Modifier: `uk-button-danger`
//

.hook-button-danger() {
    box-shadow: none;
}

.hook-button-danger-hover() {
    box-shadow: none;
}
.hook-button-danger-active() {
    box-shadow: none;
}


// Disabled state
// ========================================================================

.hook-button-disable() {
    box-shadow: none;
    border: none;
}


// Modifier: `uk-button-link`
// ========================================================================

.hook-button-link() {}


// Size modifiers
// ========================================================================

.hook-button-large() {}


// Miscellaneous
// ========================================================================

.hook-button-misc() {}