//
// Component: Contrast
//
// ========================================================================


// Variables
// ========================================================================

@contrast-color:                                @global-contrast-color;
@contrast-inverted-color:                       darken(@global-brand-color, 20%);

@contrast-button-background:                    @contrast-color;
@contrast-button-color:                         @contrast-inverted-color;
@contrast-button-hover-background:              fade(@contrast-color, 80%);
@contrast-button-hover-color:                   @contrast-inverted-color;
@contrast-button-active-background:             fade(@contrast-color, 70%);
@contrast-button-active-color:                  @contrast-inverted-color;

@contrast-button-primary-background:            @button-primary-background;
@contrast-button-primary-color:                 @button-primary-color;
@contrast-button-primary-hover-background:      @button-primary-hover-background;
@contrast-button-primary-hover-color:           @button-primary-hover-color;
@contrast-button-primary-active-background:     @button-primary-active-background;
@contrast-button-primary-active-color:          @button-primary-active-color;

@contrast-tab-border:                           @global-brand-color;
@contrast-tab-color:                            fade(@contrast-color, 60%);
@contrast-tab-hover-border:                     fade(@global-brand-color, 60%);
@contrast-tab-hover-background:                 transparent;
@contrast-tab-hover-color:                      fade(@contrast-color, 80%);
@contrast-tab-active-border:                    @global-brand-color;
@contrast-tab-active-background:                transparent;
@contrast-tab-active-color:                     @contrast-color;

@contrast-form-border:                          fade(@contrast-color, 60%);
@contrast-form-background:                      transparent;
@contrast-form-color:                           fade(@contrast-color, 60%);
@contrast-form-focus-border:                    @contrast-color;
@contrast-form-focus-background:                transparent;
@contrast-form-focus-color:                     @contrast-color;

@contrast-form-danger-border:                   @contrast-color;
@contrast-form-danger-background:               transparent;
@contrast-form-danger-color:                    @contrast-color;

@contrast-form-success-border:                  @contrast-color;
@contrast-form-success-background:              transparent;
@contrast-form-success-color:                   @global-success-color;

@contrast-form-placeholder-color:               fade(@contrast-color, 70%);

@contrast-text-primary-color:                   @text-primary-color;


// Base
// ========================================================================

.hook-contrast-base-code() {}


// Nav
// ========================================================================

.hook-contrast-nav-side() {}
.hook-contrast-nav-side-hover() {}
.hook-contrast-nav-side-active() {}
.hook-contrast-nav-side-header() {}
.hook-contrast-nav-side-divider() {}


// Subnav
// ========================================================================

.hook-contrast-subnav() {}
.hook-contrast-subnav-hover() {}
.hook-contrast-subnav-active() {}
.hook-contrast-subnav-line-divider() {}
.hook-contrast-subnav-pill-hover() {}
.hook-contrast-subnav-pill-active() {}


// Tab
// ========================================================================

.hook-contrast-tab() {}
.hook-contrast-tab-hover() {}
.hook-contrast-tab-active() {}

// List
// ========================================================================

.hook-contrast-list-line() {}


// Form
// ========================================================================

.hook-contrast-form() {}
.hook-contrast-form-focus() {}


// Button
// ========================================================================

.hook-contrast-button() {
    box-shadow: none;
}
.hook-contrast-button-hover() {
    box-shadow: none;
}
.hook-contrast-button-active() {
    box-shadow: none;
}
.hook-contrast-button-primary() {}
.hook-contrast-button-primary-hover() {}
.hook-contrast-button-primary-active() {}


// Icon
// ========================================================================

.hook-contrast-icon-hover() {}
.hook-contrast-icon-hover-hover() {}
.hook-contrast-icon-button() {}
.hook-contrast-icon-button-hover() {}
.hook-contrast-icon-button-active() {}


// Miscellaneous
// ========================================================================

.hook-contrast-misc() {

    // Form
    // ========================================================================

    .uk-form-row {
        .uk-form-danger {
            border-color: @contrast-form-border !important;
            background: @contrast-form-background !important;
            color: @contrast-form-color !important;
        }

        .uk-form-success  {
            border-color: @contrast-form-border !important;
            background: @contrast-form-background !important;
            color: @contrast-form-color !important;
        }

        label.uk-form-danger {
            background: #000 !important;
            color: @contrast-color !important;
        }
    }

    /* ========================================================================
       Component: Tab
     ========================================================================== */

    .uk-tab { border-bottom-color: @contrast-tab-border; }

    .uk-tab > li > a {
        border: none;
        color: @contrast-tab-color;
        .hook-contrast-tab;
    }

    .uk-tab > li > a:hover,
    .uk-tab > li > a:focus,
    .uk-tab > li.uk-open > a {
        background: @contrast-tab-hover-background;
        color: @contrast-tab-hover-color;
        text-decoration: none;
        .hook-contrast-tab-hover;
    }

    /* Active */
    .uk-tab > li.uk-active > a {
        border-bottom: 5px solid @contrast-tab-active-border;
        background: @contrast-tab-active-background;
        color: @contrast-tab-active-color;
        .hook-contrast-tab-active;
    }

    //
    // Tab center
    //

    .uk-tab-center { border-bottom-color: @contrast-tab-border; }

    //
    // Tab grid
    //

    .uk-tab-grid:before { border-top-color: @contrast-tab-border; }
}