//
// Component: Dropdown
//
// ========================================================================


// Variables
// ========================================================================

@dropdown-z-index:                              @global-z-index + 20;
@dropdown-width:                                180px;
@dropdown-color:                                @global-color;
@dropdown-divider-border:                       @global-border;

@dropdown-navbar-color:                         @global-color;
@dropdown-navbar-margin:                        0;
@dropdown-navbar-background:                    #000;
@dropdown-navbar-animation:                     uk-slide-top-fixed;

// Component
// ========================================================================

.hook-dropdown() {}


// Modifier: `uk-dropdown-navbar`
// ========================================================================

.hook-dropdown-navbar() {}


// Sub-object: `uk-dropdown-overlay`
// ========================================================================

.hook-dropdown-overlay() {}


// Miscellaneous
// ========================================================================

.hook-dropdown-misc() {}