//
// Component: Form advanced
//
// ========================================================================


// Variables
// ========================================================================

@form-advanced-size:                          20px;
@form-advanced-border:                        #aaa;
@form-advanced-border-width:                  1px;
@form-advanced-margin-top:                    -4px;
@form-advanced-color:                         transparent;

@form-advanced-checked-color:                 @form-color;

@form-advanced-radio-size:                    8px;

@form-advanced-checkbox-icon:                 "\f00c";
@form-advanced-checkbox-indeterminate-icon:   "\f068";
@form-advanced-checkbox-font-size:            16px;

@form-advanced-disabled-border:               #ddd;
@form-advanced-disabled-color:                #aaa;

// Component
// ========================================================================

.hook-form-advanced() {
    font-weight: 300;
}

.hook-form-advanced-checked() {}

.hook-form-advanced-radio() {}

.hook-form-advanced-checkbox() {}

.hook-form-advanced-disabled() {}


// Miscellaneous
// ========================================================================

.hook-form-advanced-misc() {}