//
// Component: Form
//
// ========================================================================


// Variables
// ========================================================================

@form-height:                                   @global-height;
@form-border:                                   @global-border;
@form-background:                               @global-background;
@form-color:                                    @global-color;

@form-focus-color:                              @global-color;
@form-focus-border:                             darken(@global-border, 7.5%);
@form-focus-background:                         fade(@global-border, 10%);

@form-disabled-border:                          @global-border;
@form-disabled-color:                           @global-muted-color;

@form-placeholder-color:                        darken(@global-brand-color, 10%);

@form-gutter:                                   @global-margin-small;

@form-legend-border:                            @global-border;
@form-legend-font-size:                         round((@global-font-size * 1.28)); // 18px / 20px
@form-legend-line-height:                       round((@form-legend-font-size * 1.68)); // 30px / 34px

@form-small-height:                             @global-height-small;
@form-large-height:                             @global-height-large;
@form-small-font-size:                          round((@global-font-size * 0.85)); // 12px / 14px
@form-large-font-size:                          round((@global-font-size * 1.14)); // 16px / 18px

@form-danger-border:                            @global-border;
@form-danger-background:                        transparent;
@form-danger-color:                             @global-color;

@form-mini-width:                               70px;
@form-small-width:                              130px;
@form-medium-width:                             200px;
@form-large-width:                              500px;

@form-blank-border:                             @global-border;

@form-icon-font-size:                           @global-font-size;
@form-icon-color:                               @global-muted-color;


// Component
// ========================================================================

.hook-form() {}

// Focus state
.hook-form-focus() {}

// Disabled state
.hook-form-disabled() {}

// Legend
.hook-form-legend() {}

/*
 * Placeholder
 */

.uk-form :-ms-input-placeholder { font-weight: 400 !important; }
.uk-form ::-moz-placeholder { font-weight: 400 !important; }
.uk-form ::-webkit-input-placeholder { font-weight: 400 !important; }

.uk-form :disabled:-ms-input-placeholder { font-weight: 400 !important; }
.uk-form :disabled::-moz-placeholder { font-weight: 400 !important; }
.uk-form :disabled::-webkit-input-placeholder { font-weight: 400 !important; }

/* Size modifiers
 * Higher specificity needed to override defaults
 ========================================================================== */

select.uk-form-large,
textarea.uk-form-large,
input[type].uk-form-large,
input:not([type]).uk-form-large  {
    font-weight: 500;
}

// Validation states
// ========================================================================

//
// Error state
//

.hook-form-danger() {}

//
// Success state
//

.hook-form-success() {}


// Style modifiers
// ========================================================================

.hook-form-blank() {}

.hook-form-blank-focus() {}


// Sub-object: `uk-form-label`
// ========================================================================

.hook-form-stacked-label() {}

.hook-form-horizontal-label() {}


// Miscellaneous
// ========================================================================

.hook-form-misc() {

    select.uk-form-large,
    textarea.uk-form-large,
    input[type].uk-form-large,
    input:not([type]).uk-form-large  {
        font-family: 'FreeSet Bold Cyrillic', Arial, sans-serif;
    }

    label.uk-form-danger {
        background: #000 !important;
        box-sizing: border-box;
        color: @contrast-color !important;
        display: block;
        line-height: @global-height-large;
        margin-bottom: 10px;
        padding: 0 .5rem;
        position: relative;
        width: 100%;

        &:after {
            top: 100%;
            left: 18px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(0, 0, 0, 0);
            border-top-color: #000;
            border-width: 8px;
            margin-left: -8px;
        }
    }
}