//
// Component: Grid
//
// ========================================================================

// Variables
// ========================================================================

@grid-gutter-horizontal:                        @global-grid-gutter;
@grid-gutter-vertical:                          @global-grid-gutter;

@grid-gutter-large-horizontal:                  @global-grid-gutter-large;
@grid-gutter-large-vertical:                    @global-grid-gutter-large;

@grid-gutter-small-horizontal:                  @global-grid-gutter-small;
@grid-gutter-small-vertical:                    @global-grid-gutter-small;

@grid-divider-border:                           @global-brand-color;
@grid-divider-border-width:                     2px;


/* Modifier: `uk-grid-divider-small`
 ========================================================================== */

/*
 * Small divider
 */

.uk-grid-divider-small:not(:empty) {
    margin-left: -@grid-gutter-horizontal;
    margin-right: -@grid-gutter-horizontal;
}

.uk-grid-divider-small > * {
    padding-left: @grid-gutter-horizontal;
    padding-right: @grid-gutter-horizontal;
}

.uk-grid-divider-small:empty {
    margin-top: @grid-gutter-vertical;
    margin-bottom: @grid-gutter-vertical;
}

/*
 * Large gutter
 */

/* Horizontal */
.uk-grid-large { margin-left: -@grid-gutter-large-horizontal; }
.uk-grid-large > * { padding-left: @grid-gutter-large-horizontal; }

/* Vertical */
.uk-grid-large + .uk-grid-large,
.uk-grid-large-margin,
.uk-grid-large > * > .uk-panel + .uk-panel { margin-top: @grid-gutter-large-vertical; }

// Miscellaneous
// ========================================================================

.hook-grid-misc() {}