//
// Component: Modal
//
// ========================================================================


// Variables
// ========================================================================

@modal-z-index:                                 @global-z-index + 10;

@modal-dialog-background:                       @global-background;
@modal-dialog-width:                            400px;

@modal-header-margin-bottom:                    @global-margin;

@modal-footer-margin-top:                       @global-margin;

@modal-caption-color:                           @global-contrast-color;


/* ========================================================================
   Modifier: `uk-modal-dialog-blank`
 ========================================================================== */

.uk-modal-dialog-blank {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

/*
* Close button
*/

.uk-modal-dialog-blank > .uk-close:first-child {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    margin: 0;
    float: none;
}


// Component
// ========================================================================

.hook-modal() {}


// Sub-object: `uk-modal-dialog`
// ========================================================================

.hook-modal-dialog() {}


// Modifier: `uk-modal-dialog-lightbox`
// ========================================================================

.hook-modal-dialog-lightbox() {}


// Sub-object: `uk-modal-header`
// ========================================================================

.hook-modal-header() {}


// Sub-object: `uk-modal-footer`
// ========================================================================

.hook-modal-footer() {}


// Sub-object: `uk-modal-caption`
// ========================================================================

.hook-modal-caption() {}


// Sub-object: `uk-modal-spinner`
// ========================================================================

.hook-modal-spinner() {}


// Miscellaneous
// ========================================================================

.hook-modal-misc() {}