//
// Component: Navbar
//
// ========================================================================


// Variables
// ========================================================================

@navbar-background:                             transparent;
@navbar-color:                                  @global-color;
@navbar-link-color:                             @global-link-color;
@navbar-link-hover-color:                       @global-link-hover-color;

@navbar-nav-height:                             @global-height;
@navbar-nav-line-height:                        @navbar-nav-height;
@navbar-nav-color:                              fade(@global-contrast-color, 50%);
@navbar-nav-font-size:                          @global-font-size;
@navbar-nav-hover-background:                   @navbar-background;
@navbar-nav-hover-color:                        fade(@global-contrast-color, 90%);
@navbar-nav-onclick-background:                 @navbar-background;
@navbar-nav-onclick-color:                      fade(@global-contrast-color, 70%);
@navbar-nav-active-background:                  @navbar-background;
@navbar-nav-active-color:                       @global-contrast-color;

@navbar-brand-font-size:                        round((@global-font-size * 1.28)); // 18px / 20px
@navbar-brand-color:                            @global-color;
@navbar-brand-hover-color:                      @global-color;

@navbar-toggle-font-size:                       round((@global-font-size * 1.28)); // 18px / 20px
@navbar-toggle-color:                           @global-color;
@navbar-toggle-hover-color:                     @global-color;


// Component
// ========================================================================

.hook-navbar() {}


// Sub-object: `uk-navbar-nav`
// ========================================================================

.hook-navbar-nav() {}

// Hover
.hook-navbar-nav-hover() {}

// OnClick
.hook-navbar-nav-onclick() {}

// Active
.hook-navbar-nav-active() {}


// Sub-object: `uk-navbar-content`
// ========================================================================

.hook-navbar-content() {}


// Miscellaneous
// ========================================================================

.hook-navbar-misc() {}