//
// Component: Notify
//
// ========================================================================


// Variables
// ========================================================================

@notify-z-index:                                @global-z-index + 40;
@notify-position:                               10px;
@notify-width:                                  400px;

@notify-message-font-size:                      round((@global-font-size * 1.14)); // 16px / 18px
@notify-message-line-height:                    round((@notify-message-font-size * 1.36)); // 22px / 24px

@notify-message-success-background:             fade(@global-success-background, 95%);
@notify-message-success-color:                  @global-success-color;

@notify-message-danger-background:              fade(@global-danger-background, 95%);
@notify-message-danger-color:                   @global-brand-color;

// Component
// ========================================================================

.hook-notify() {}

.hook-notify-message() {}

.hook-notify-message-primary() {}

.hook-notify-message-success() {}

.hook-notify-message-warning() {}

.hook-notify-message-danger() {}


// Miscellaneous
// ========================================================================

.hook-notify-misc() {}