//
// Component: Placeholder
//
// ========================================================================


// Variables
// ========================================================================

@placeholder-margin-vertical:                   @global-margin;
@placeholder-padding:                           @global-margin;
@placeholder-border:                            @global-brand-color;
@placeholder-background:                        #fff;
@placeholder-color:                             @global-color;

// Component
// ========================================================================

.hook-placeholder() {
    padding: 30% 0;
    text-align: center;
}

.hook-placeholder-large() {}


// Miscellaneous
// ========================================================================

.hook-placeholder-misc() {}