//
// Component: Slidenav
//
// ========================================================================


// Variables
// ========================================================================

@slidenav-previous-icon:                        "\e808";
@slidenav-next-icon:                            "\e813";

// Component
// ========================================================================

/*
 * Icons
 */

.uk-slidenav-previous:before {
    color: @global-brand-color;
    content: @slidenav-previous-icon;
    font-family: 'fontello';
}

.uk-slidenav-next:before {
    color: @global-brand-color;
    content: @slidenav-next-icon;
    font-family: 'fontello';
}
/* Sub-object: `uk-slidenav-position`
 ========================================================================== */

 .uk-slidenav-position .uk-slidenav {
    display: block;
}

.hook-slidenav() {}

.hook-slidenav-hover() {}

.hook-slidenav-active() {}

.hook-slidenav-contrast() {}

.hook-slidenav-contrast-hover() {}

.hook-slidenav-contrast-active() {}


// Miscellaneous
// ========================================================================

.hook-slidenav-misc() {}