//
// Component: Utility
//
// ========================================================================


// Variables
// ========================================================================

@utility-container-max-width:                   1260px;
@utility-container-padding-horizontal:          30px;

@utility-container-large-max-width:             1260px;
@utility-container-large-padding-horizontal:    52px;

@utility-align-horizontal:                      @global-margin;
@utility-align-vertical:                        @global-margin;

@utility-margin:                                @global-margin;
@utility-margin-small:                          @global-margin-small;
@utility-margin-large:                          @global-margin-large;
@utility-margin-xlarge:                         @global-margin-xlarge;

@utility-heading-large-small-font-size:         round((@global-font-size * 2.6)); // 36px / 42px
@utility-heading-large-small-line-height:       round((@utility-heading-large-small-font-size * 1.154)); // 42px / 48px
@utility-heading-large-font-size:               round((@global-font-size * 3.72)); // 52px / 60px
@utility-heading-large-line-height:             round((@utility-heading-large-font-size * 1.23)); // 64px / 74px

@utility-link-muted-color:                      @global-color;
@utility-link-muted-hover-color:                @global-color;

@utility-scrollable-text-height:                100%;

@utility-scrollable-box-border:                 @global-border;

// Container
// ========================================================================

.hook-container() {
    max-width: none;
    width: @utility-container-max-width;
}


// Scrollable
// ========================================================================

.uk-scrollable-text {
    height: @utility-scrollable-text-height;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    resize: both;
}

.hook-scrollable-box() {}


// Miscellaneous
// ========================================================================

.hook-utility-misc() {
    /*
     * Huge margins
     */
    .uk-margin-xlarge { margin-bottom: @utility-margin-xlarge; }
    * + .uk-margin-xlarge { margin-top: @utility-margin-xlarge; }

    .uk-margin-xlarge-top { margin-top: @utility-margin-xlarge !important; }
    .uk-margin-xlarge-bottom { margin-bottom: @utility-margin-xlarge !important; }
    .uk-margin-xlarge-left { margin-left: @utility-margin-xlarge !important; }
    .uk-margin-xlarge-right { margin-right: @utility-margin-xlarge !important; }
}