//
// Component: Variables
//
// ========================================================================

//
// Breakpoints
//
@breakpoint-small:                              0px;
@breakpoint-medium:                             0px;
@breakpoint-large:                              9999px;
@breakpoint-xlarge:                             9999px;

@breakpoint-mini-max:                           (@breakpoint-small - 1);
@breakpoint-small-max:                          (@breakpoint-medium - 1);
@breakpoint-medium-max:                         (@breakpoint-large - 1);
@breakpoint-large-max:                          (@breakpoint-xlarge - 1);


// Global variables
// ========================================================================

//
// Text & Colors
//

@global-color:                                  #5e676b;
@global-muted-color:                            #999;
@global-brand-color:                            #e0c18b;
@global-contrast-color:                         #fff;
@global-gray-color:                             #ced1d2;

@global-link-color:                             darken(@global-brand-color, 20%);
@global-link-hover-color:                       @global-brand-color;


@global-font-size:                              14px;
@global-line-height:                            20px;

//
// Backgrounds & Borders
//

@global-background:                             @global-contrast-color;
@global-border:                                 @global-gray-color;

@global-border-radius:                          2px;

@global-primary-background:                     @global-brand-color;
@global-primary-color:                          @global-color;
@global-success-background:                     lighten(@global-brand-color, 5%);
@global-success-color:                          fade(#000, 80%);
@global-warning-background:                     darken(@global-brand-color, 20%);
@global-warning-color:                          darken(@global-brand-color, 20%);
@global-danger-background:                      #000;
@global-danger-color:                           @global-contrast-color;

//
// Spacings
//

@global-margin:                                 16px;
@global-margin-small:                           (@global-margin / 2); // 8px
@global-margin-large:                           (@global-margin + @global-margin-small); // 24px
@global-margin-xlarge:                          (@global-margin-large * 2); // 48px

@global-grid-gutter:                            22px;
@global-grid-gutter-large:                      44px;
@global-grid-gutter-small:                      11px;

//
// Controls
//

@global-height:                                 30px;
@global-height-mini:                            20px;
@global-height-small:                           25px;
@global-height-large:                           40px;

//
// Z-index
//

@global-z-index:                                1000;