
.icon-add:before { content: '\e800'; } /* '' */
.icon-taxi:before { content: '\e801'; } /* '' */
.icon-share:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-scissors:before { content: '\e804'; } /* '' */
.icon-rating:before { content: '\e805'; } /* '' */
.icon-pulldown:before { content: '\e806'; } /* '' */
.icon-profile:before { content: '\e807'; } /* '' */
.icon-arrowleft:before { content: '\e808'; } /* '' */
.icon-place:before { content: '\e809'; } /* '' */
.icon-mascara:before { content: '\e80a'; } /* '' */
.icon-mark:before { content: '\e80b'; } /* '' */
.icon-likeforteaser:before { content: '\e80c'; } /* '' */
.icon-like:before { content: '\e80d'; } /* '' */
.icon-hair:before { content: '\e80e'; } /* '' */
.icon-esc:before { content: '\e80f'; } /* '' */
.icon-close:before { content: '\e810'; } /* '' */
.icon-chart:before { content: '\e811'; } /* '' */
.icon-call:before { content: '\e812'; } /* '' */
.icon-arrowright:before { content: '\e813'; } /* '' */