@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?35279648');
  src: url('../fonts/fontello/fontello.eot?35279648#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff2?35279648') format('woff2'),
       url('../fonts/fontello/fontello.woff?35279648') format('woff'),
       url('../fonts/fontello/fontello.ttf?35279648') format('truetype'),
       url('../fonts/fontello/fontello.svg?35279648#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?35279648#fontello') format('svg');
  }
}
*/

 [class^="cutesy-icon-"]:before, [class*="cutesy-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  //margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  //margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.cutesy-icon-add:before { content: '\e800'; }
.cutesy-icon-taxi:before { content: '\e801'; }
.cutesy-icon-share:before { content: '\e802'; }
.cutesy-icon-search:before { content: '\e803'; }
.cutesy-icon-scissors:before { content: '\e804'; }
.cutesy-icon-rating:before { content: '\e805'; }
.cutesy-icon-pulldown:before { content: '\e806'; }
.cutesy-icon-profile:before { content: '\e807'; }
.cutesy-icon-arrowleft:before { content: '\e808'; }
.cutesy-icon-place:before { content: '\e809'; }
.cutesy-icon-mascara:before { content: '\e80a'; }
.cutesy-icon-mark:before { content: '\e80b'; }
.cutesy-icon-likeforteaser:before { content: '\e80c'; }
.cutesy-icon-like:before { content: '\e80d'; }
.cutesy-icon-hair:before { content: '\e80e'; }
.cutesy-icon-esc:before { content: '\e80f'; }
.cutesy-icon-close:before { content: '\e810'; }
.cutesy-icon-chart:before { content: '\e811'; }
.cutesy-icon-call:before { content: '\e812'; }
.cutesy-icon-arrowright:before { content: '\e813'; }

@import "animation.less";