//
// Multi Image
//

.uploader-fileupload.style-image-multi {
    .upload-button {
        //width: 108px;
        height: 108px;
    }
    .upload-object {
        position: relative;
        overflow: visible;

        .progress-bar {
            .uploader-progress-bar();
            position: absolute;
            bottom: 10px;
            left: 0;
        }

        .icon-container {
            overflow: visible;
            //width: 108px;
            height: 108px;
            line-height: 108px;
        }

        .info {
            margin-left: 90px;

            h4 {
                padding-right: 15px;
                a {
                    right: 15px;
                }
            }
        }

        .meta {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 15px 0 90px;
        }

        &.upload-placeholder {
            height: 108px;
            background-color: transparent;
            &:after { opacity: 0; }
        }

        &:hover {
            .uploader-object-active();
            h4 { padding-right: 35px; }
        }

        &.is-error {
            h4 { padding-right: 35px; }

            .info {
                p.size { display: none; }
                p.error { padding-bottom: 11px; }
            }
        }
    }

    &.is-preview {
        .upload-files-container {
            margin-left: 0;
        }
    }
}