@uploader-progress-bar-height: 5px;
@uploader-progress-bar-color:  @global-contrast-color;
@uploader-progress-bar-bg:     #000;
@uploader-inactive-icon:       transparent;
@uploader-object-active-bg:    transparent;
@uploader-object-error-bg:     transparent;
@uploader-list-accent-bg:      transparent;
@uploader-list-border-color:   transparent;
@uploader-inline-button-color: transparent;

@screen-xs-max: 767px;
@screen-sm-max: 991px;
@screen-md-max: 1199px;

@import "uploader.base.less";
@import "uploader.imagemulti.less";
@import "uploader.imagesingle.less";
@import "uploader.filemulti.less";
@import "uploader.filesingle.less";
