//
// Single Image
//

.uploader-fileupload.style-image-single {
    .upload-object {

        .icon-container {
            width: 132px;
            height: 132px;
            line-height: 132px;
        }

        .progress-bar {
            .uploader-progress-bar();
            position: absolute;
            bottom: 30px;
            left: 0;
        }

        &.is-error {
            h4 { padding-right: 20px; }

            .info {
                p.size { display: none; }
                p.error { padding-bottom: 11px; }
            }
        }
    }

    .upload-button {
        width: 160px;
    }
}