title = "Последние штрихи"
url = "/api/v1/render/pages/profile/complete"
layout = "profile"
is_hidden = 0
==
use \Cutesy\Community\Models\Profile as ProfileModel;

function onStart()
{
    $user = $this['user'] = $this->profileComponent->user();

    if ($user) {
        $profile = $this['profile']  = $user->profile;

        if ($profile && $profile->role == ProfileModel::ROLE_PRO) {
            $this['services'] = $this->profileComponent->loadServices();
        }
    }
}
==
{% if user %}

    {% if profile %}

        {% if profile.status == constant('STATUS_FRESH', profile) %}
            <div class="profile-container uk-container uk-container-center uk-margin-top">

                <form id="complete{{ profile.role|capitalize }}Form" class="uk-form uk-margin-top">
                    <input name="role" type="hidden" value="{{ profile.role }}">

                    {% partial 'profile/complete_' ~ profile.role %}

                </form>

            </div>
        {% else %}

            {%
                partial 'helpers/redirect.htm'
                message='Создание профиля успешно завершено…'
                target='#!profile/' ~ user.alias
            %}

        {% endif %}

    {% else %}

        {%
            partial 'helpers/redirect.htm'
            message='Требуется создать профиль…'
            target='#!profile/create'
        %}

    {% endif %}

{% else %}

    {%
        partial 'helpers/redirect.htm'
        message='Секундочку…'
        target='#!join'
    %}

{% endif %}