title = "Создание Профиля"
url = "/api/v1/render/pages/profile/create"
layout = "profile"
is_hidden = 0
==
function onStart()
{
    $this['role'] = $this->param('role');

    if ($user = $this['user'] = $this->profileComponent->user()) {
        $profile = $this['profile'] = $user->profile;
    }
}
==
{% if user %}

    {% if profile %}

        {% if profile.status == constant('STATUS_FRESH', profile) %}

            {%
                partial 'helpers/redirect.htm'
                target='#!profile/complete'
                message='Остались последние штрихи…'
            %}

        {% else %}

            {%
                partial 'helpers/redirect.htm'
                message='Создание профиля успешно завершено…'
                target='#!profile/' ~ user.alias
            %}

        {% endif %}

    {% else %}

        <ul id="createBackgrounds"
            class="uk-switcher uk-height-1-1 uk-width-1-1 uk-position-absolute">
            <li
                class="uk-height-1-1 uk-width-1-1 uk-cover-background"
                style="
                    background-image: url({{ '/theme/backgrounds/003.jpg'|media }});
                    background-attachment: fixed;
                "><div class="overlay-default uk-width-1-1 uk-height-1-1"></div>
            </li>
            <li
                class="uk-height-1-1 uk-width-1-1 uk-cover-background"
                style="
                    background-image: url({{ '/theme/backgrounds/001.jpg'|media }});
                    background-attachment: fixed;
                "><div class="overlay-default uk-width-1-1 uk-height-1-1"></div>
            </li>
        </ul>

        <div
            class="uk-align-center uk-contrast"
            style="width: 310px; padding-top: 64px;">

            <ul class="uk-tab uk-tab-grid uk-margin-bottom"
                data-uk-tab="{
                    connect: '#createBackgrounds, #createTabs', animation: 'fade',
                    {% if role == 'pro' %} active: 1 {% else %} active: 0 {% endif %}
                }">
                <li class="uk-width-1-2" data-role="beauty" style="padding-left: 20px;">
                    <a class="uk-h2" href="">
                        <strong>Я клиент</strong>
                    </a>
                </li>
                <li class="uk-width-1-2" data-role="pro" style="padding-right: 20px;">
                    <a class="uk-h2" href="#!">
                        <strong>Я мастер</strong>
                    </a>
                </li>

            </ul>

            <ul id="createTabs"
                class="uk-switcher uk-align-center uk-position-relative"
                style="padding: 0 20px;">
                <li>
                    {% partial 'profile/create_beauty.htm' %}
                </li>
                <li>
                    {% partial 'profile/create_pro.htm' %}
                </li>
            </ul>
        </div>

    {% endif %}

{% else %}

    {%
        partial 'helpers/redirect.htm'
        message='Секундочку…'
        target='#!join'
    %}

{% endif %}