title = "Просмотр Профиля"
url = "/api/v1/render/pages/profile/show"
layout = "profile"
is_hidden = 0
==
use \Cutesy\Community\Models\Profile as ProfileModel;

function onStart()
{
    $alias = $this['alias'] = $this->param('alias');
    $user  = $this['user']  = $this->profileComponent->user();

    if ($user and $user->alias === $alias) {
        if ($profile = $user->profile) {
            $this['profile'] = $profile;
        }
        else {
            $this['needToCreate'] = true;
        }
    }
    else {
        $profile = $this['profile'] = $this->profileComponent->loadProfile($alias);
    }

}
==
{% if profile %}

    <div id="pageTitle" class="uk-hidden">{{ profile.user.name }} {{ profile.user.surname }}</div>

    {% if profile.photos is not empty %}

        <div class="slider uk-slidenav-position uk-position-z-index" data-uk-slider="{ center:true }" style="height: 400px;">

            <div class="uk-slider-container fill"">
                <ul class="uk-slider uk-grid uk-grid-small fill">
                    {% for photo in profile.photos %}

                        {% set photoThumb = photo.getThumb(800, 400, {'mode': 'crop'}) %}

                        <li style="width: 800px;">

                            <div class="uk-cover-background" style="background-image: url('{{ photoThumb }}'); width: 800px;">
                                <img class="uk-invisible fill" src="{{ photoThumb }}" alt="{{ photo.description }}">
                            </div>

                        </li>

                    {% endfor %}
                </ul>
            </div>

            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slider-item="previous"></a>
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slider-item="next"></a>

        </div>

    {% endif %}

    <div class="profile-container uk-container uk-container-center">

        {% partial 'profile/show_' ~ profile.role %}

    </div>

{% elseif needToCreate %}

    {%
        partial 'helpers/redirect.htm'
        message='Требуется создать профиль…'
        target='#!profile/create'
    %}

{% else %}

    {%
        partial 'helpers/redirect.htm'
        message='По вашему запросу ничего не найдено :('
        target='#!community'
    %}

{% endif %}