title = "Редактирование Профиля"
url = "/api/v1/render/pages/profile/update"
layout = "profile"
is_hidden = 0
==
use \Cutesy\Community\Models\Profile as ProfileModel;

function onStart()
{
    $user = $this['user'] = $this->profileComponent->user();

    if ($user) {
        $profile = $this['profile']  = $user->profile;

        if ($profile && $profile->role == ProfileModel::ROLE_PRO) {
            $this['services'] = $this->profileComponent->loadServices();
        }
    }
}
==
{% if user %}

    {% if profile %}

        {% if profile.status == constant('STATUS_FRESH', profile) %}

            {%
                partial 'helpers/redirect.htm'
                target='#!profile/complete'
                message='Остались последние штрихи…'
            %}

        {% else %}

            {% if profile.status == constant('STATUS_APPROVAL', profile) %}
                <div class="uk-alert uk-alert-info uk-width-1-1">
                    <div class="uk-container uk-container-center">
                        <p class="uk-text-center uk-margin-remove">
                            <i class="uk-icon uk-icon-coffee"></i>&nbsp;&nbsp;Заявка успешно отправлена. Ожидаем положительного результата…
                        </p>
                    </div>
                </div>
            {% endif %}

            <div class="profile-container uk-container uk-container-center">
                <form id="update{{ profile.role|capitalize }}Form" class="uk-form">

                    {% partial 'profile/update_' ~ user.profile.role user = user profile = profile %}

                </form>
            </div>

        {% endif %}

    {% else %}

        {%
            partial 'helpers/redirect.htm'
            message='Требуется создать профиль…'
            target='#!profile/create'
        %}

    {% endif %}

{% else %}

    {%
        partial 'helpers/redirect.htm'
        message='Секундочку…'
        target='#!join'
    %}

{% endif %}