[renderComponent]
==
use \Cutesy\Community\Models\Profile as ProfileModel;

public function onInit()
{
    $user = $this->sessionComponent->user();

    if ($user && $profile = $user->profile) {
        $portraitUploader = $this->addComponent(
            'Responsiv\Uploader\Components\FileUploader',
            'portraitUploader',
            []
        );
        $portraitUploader->bindModel('portrait', $profile);

        $photosUploader = $this->addComponent(
            'Responsiv\Uploader\Components\FileUploader',
            'photosUploader',
            []
        );
        $photosUploader->bindModel('photos', $profile);
    }
}
==
<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    {% partial 'meta' %}
    {% partial 'styles' %}
    {% partial 'scripts' %}
</head>
<body>
    <div class="layout-header"></div>
    <div class="layout-content"></div>
    <!-- Hidden Placeholders -->
    <div class="layout-signin uk-modal" id="signinModal"></div>
</body>
</html>