<div class="uk-text-center uk-vertical-align" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;">
    <span class="uk-vertical-align-middle">
        <p class="uk-text-large">
            <i class="uk-icon-refresh uk-icon-spin"></i>&nbsp;&nbsp;&nbsp;{{ message }}
        </p>
    </span>
</div>
<div class="uk-hidden">
    {{ redirect(target) }}
</div>