<div class="uk-grid uk-grid-divider uk-grid-divider-small">
    <div class="uk-width-1-4">

        <h2 class="uk-margin-large-bottom">
            <strong>О себе</strong>
        </h2>

        <div class="uk-margin-large-bottom">
            {% partial 'uploader/default' __SELF__ = portraitUploader %}
        </div>

        {% partial 'account/form_personal-info.htm' %}

        <h4 class="uk-margin-small-bottom">
            <strong>Контакты</strong>
        </h4>

        {% partial 'account/form_email.htm' %}

        {% partial 'account/form_phone.htm' %}

    </div>
    <div class="uk-width-1-4">

        <h2 class="uk-margin-large-bottom">
            <strong>Предпочтения</strong>
        </h2>

        {% partial 'profile/form_beauty_details' %}

        <div class="uk-form-row uk-margin-top">
            <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">
                Активировать профиль
            </button>
        </div>

    </div>
    <div class="uk-width-1-2">

        <h2 class="uk-margin-large-bottom">
            <strong>Образы</strong>
            <span class="uk-h3 uk-margin-left">({{ profile.photos.count() }} фото)</span>
        </h2>

        {% partial 'uploader/default' __SELF__ = photosUploader %}
    </div>
</div>