<form id="createProForm" class="uk-form">
    <input name="role" type="hidden" value="pro">

    <div class="uk-form-row uk-margin-top">
        <div class="uk-form-controls">
            <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">
                Создать профиль мастера
            </button>
        </div>
    </div>
</form>