<h4 class="uk-margin-small-bottom">
    <strong>Нравится</strong>
</h4>
<div class="uk-form-row">
    <div class="uk-form-controls">
        <textarea
            name="details[like]"
            class="uk-width-1-1"
            cols="30"
            rows="7"
            placeholder="Нравится">{{ profile.details.like }}</textarea>
    </div>
</div>

<h4 class="uk-margin-small-bottom">
    <strong>Не нравится</strong>
</h4>
<div class="uk-form-row">
    <div class="uk-form-controls">
        <textarea
            name="details[dislike]"
            class="uk-width-1-1"
            cols="30"
            rows="7"
            placeholder="Не нравится">{{ profile.details.dislike }}</textarea>
    </div>
</div>

<h4 class="uk-margin-small-bottom">
    <strong>Косметика</strong>
</h4>
<div class="uk-form-row">
    <div class="uk-form-controls">
        <textarea
            name="details[cosmetics]"
            class="uk-width-1-1"
            cols="30"
            rows="7"
            placeholder="Косметика">{{ profile.details.cosmetics }}</textarea>
    </div>
</div>