{% set profileServices = profile.services %}

{% for service in services %}

    {% set currentProfileService = {} %}

    {% for profileService in profileServices %}
        {% if profileService.id == service.id %}
            {% set currentProfileService = profileService %}
        {% endif %}
    {% endfor %}

    <div class="uk-form-row" style="margin-bottom: 40px;">

        <label>
            <input
                id="{{ service.code }}"
                type="checkbox"
                name="services[{{ service.id }}]"
                class="uk-margin-small-right"
                {% if service.id == currentProfileService.id %} checked {% endif %}>

                <span class="uk-h4">
                    <strong>{{ service.name }}</strong>
                </span>
        </label>

        <div class="uk-form-controls uk-margin-small-top">
            <span class="uk-margin-small-right">От&nbsp;</span>
            <input
                type="text"
                name="pricerange[{{ service.id }}][min_price]"
                class="uk-form-large uk-form-width-mini"
                value="{{ currentProfileService.pivot.min_price }}"
                placeholder="—">
            <span">до</span>
            <input
                type="text"
                name="pricerange[{{ service.id }}][max_price]"
                class="uk-form-large uk-form-width-mini"
                value="{{ currentProfileService.pivot.max_price }}"
                placeholder="—">
            <span>рублей</span>
        </div>
    </div>
{% endfor %}