<h4 class="uk-margin-small-bottom">
    <strong>Опыт и достижения</strong>
</h4>
<div class="uk-form-row">
    <div class="uk-form-controls">
        <textarea
            name="details[experience]"
            class="uk-width-1-1"
            cols="30"
            rows="7"
            placeholder="Опыт и достижения">{{ profile.details.experience }}</textarea>
    </div>
</div>

<h4 class="uk-margin-small-bottom">
    <strong>Инструменты</strong>
</h4>
<div class="uk-form-row">
    <div class="uk-form-controls">
        <textarea
            name="details[tools]"
            class="uk-width-1-1"
            cols="30"
            rows="7"
            placeholder="Инструменты">{{ profile.details.tools }}</textarea>
    </div>
</div>

<h4 class="uk-margin-small-bottom">
    <strong>Средства</strong>
</h4>
<div class="uk-form-row">
    <div class="uk-form-controls">
        <textarea
            name="details[cosmetics]"
            class="uk-width-1-1"
            cols="30"
            rows="7"
            placeholder="Средства">{{ profile.details.cosmetics }}</textarea>
    </div>
</div>