{% set professionId = professionId|default(form_value('profession')) %}

<div class="uk-form-row">
    <div class="uk-form-controls">
        {{
            form_select_profession('profession', professionId, {
                emptyOption: 'Профессия',
                class: 'uk-form-large uk-width-1-1',
            })
        }}
    </div>
</div>