<div class="uk-grid uk-grid-divider uk-grid-divider-small">
    <div class="uk-width-1-4">

        <div class="uk-text-center uk-margin-large-bottom">

            {% if profile.portrait %}

            <img class="uk-border-circle uk-align-center uk-margin-small-bottom"
                src="{{ profile.portrait.getThumb(142, 142, {'mode': 'crop'}) }}"
                width="142" height="142" alt="" style="width: 142px; height: 142px;">

            {% else %}

            <div class="uk-margin-small-bottom">
                <i class="cutesy-icon-profile" style="font-size: 142px; opacity: .5;"></i>
            </div>

            {% endif %}

            <p class="uk-text-large uk-margin-remove">
                <strong>
                    {{ profile.user.name }} <br> {{ profile.user.surname }}
                </strong>
            </p>

            <h4 class="uk-text-muted uk-margin-remove">
                {{ profile.profession.name }}
            </h4>

        </div>

        <div class="uk-grid">
            <div class="uk-width-1-3">
                <h4>
                    <strong>
                        123 <i class="uk-icon-heart-o"></i>
                    </strong>
                </h4>
            </div>
            <div class="uk-width-1-3">
                <h4>
                    <strong>
                        456 <i class="uk-icon-user"></i>
                    </strong>
                </h4>
            </div>
            <div class="uk-width-1-3">
                <h4>
                    <strong>
                        789 <i class="uk-icon-signal"></i>
                    </strong>
                </h4>
            </div>
        </div>

        <div class="uk-margin">
            <p>
                {{ profile.details.experience }}
            </p>
        </div>

        <div class="profile-social-toolbar uk-grid uk-grid-collapse">
            <div class="uk-width-1-4 uk-text-center">
                <i class="cutesy-icon-call uk-icon-large"></i>
                <p class="uk-text-small uk-text-muted">связаться с мастером</p>
            </div>
            <div class="uk-width-1-4 uk-text-center">
                <i class="cutesy-icon-add uk-icon-large"></i>
                <p class="uk-text-small uk-text-muted">добавить в друзья</p>

            </div>
            <div class="uk-width-1-4 uk-text-center">
                <i class="cutesy-icon-chart uk-icon-large"></i>
                <p class="uk-text-small uk-text-muted">добавить в избранное</p>

            </div>
            <div class="uk-width-1-4 uk-text-center">
                <i class="cutesy-icon-share uk-icon-large"></i>
                <p class="uk-text-small uk-text-muted">рассказать друзьям</p>
            </div>
        </div>

    </div>
    <div class="uk-width-1-4">

        {% if profile.services is not empty %}

            <div class="uk-grid uk-grid-collapse uk-margin-large-top">

                {% for service in profile.services %}

                    <div class="uk-width-1-2 uk-text-center uk-margin-bottom">

                        <i class="{{ service.icon_class }} uk-icon-large uk-margin-small-bottom"></i>

                        <h4 class="uk-margin-remove">
                            <strong>{{ service.name }}</strong><br>
                        </h4>
                        {% if service.pivot.min_price %}
                            <span class="uk-h4 uk-text-muted">
                                от {{ service.pivot.min_price }} ₽
                            </span>
                        {% endif %}
                    </div>

                {% endfor %}

            </div>

        {% endif %}

        <h4 class="{% if profile.services is not empty %}uk-margin-top{% endif %} uk-margin-bottom-remove">
            <strong>Средства</strong>
        </h4>

        <p>
            {{ profile.details.cosmetics }}
        </p>

        <h4 class="uk-margin-bottom-remove">
            <strong>Инструменты</strong>
        </h4>

        <p>
            {{ profile.details.tools }}
        </p>

    </div>
    <div class="uk-width-1-2">

        <div class="profile-location-container">
            <div
                class="fill uk-cover-background"
                style="position: relative; background-image: url({{ 'assets/images/placeholders/map.png'|theme }});"
                data-uk-scrollspy="{ topoffset: 400, repeat: true }"
            >
                <img
                    src="{{ 'assets/images/placeholders/place.png'|theme }}"
                    style="position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -60px;"
                >
            </div>
        </div>

    </div>
</div>