title = "Поиск мастера"
url = "/api/v1/render/pages/community/search"
layout = "community"
is_hidden = 0
==
<div class="community-search-map default"></div>
<div class="community-search-panel"></div>
<div class="community-search-results"></div>